body {
  font-family: "Poppins", "Inter", sans-serif !important;
}

.bg-navbar {
  background-color: #035397;
}
.text-navbar {
  color: white;
}

.navbar-nav .nav-item:hover .nav-link {
  background-color: #035297ab;
}

.bg-footer {
  color: white;
  background-color: #001e6c;
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
