body {
    padding: 10px 20px 10px;
}
.container {
    margin-top: 125px;
    margin-bottom: 125px;
    width: 500px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.4);
    padding: 10px 20px 10px 20px;
    /* background-color: orange; */
}
h2 {
    text-align: center;
    padding-bottom: 20px;
}
nav ul li a{
    margin-right: 10px;
}
nav ul li a:hover {
    background-color: orange;
    padding: 2px;
    border-radius: 5px;
}
.navigasi{
    color: black;
    border-bottom: 2px solid black;
}
.footer{
    color: black;
    border-top: 2px solid black;
}
.footer h6{
    margin-top: 25px;
}
.sista{
    font-weight: bold;
}